$c-primary: #66BB6A;
$c-secondary: #FFC107;
$c-primary-darken: #b33e00;

$c-text: #434343;
$c-dark-gray: rgb(135, 135, 135);
$c-gray: #9E9E9E;
$c-lighter-gray: rgb(186, 186, 186);
$c-light-gray: #E0E0E0;

$c-green: #4CAF50;
$c-red: #F44336;
$c-orange: #FFC107;
$c-white: #fff;

$a-timing: 300ms;
$b-radius: 1rem; 